@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import  "tabulator-tables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gigantic-text: 4.768rem;
    --jumbo-text: 3.815rem;
    --h1-text: 3.052rem;
    --h2-text: 2.441rem;
    --h3-text: 1.953rem;
    --h4-text: 1.563rem;
    --h5-text: 1.25rem;
    --small-text: 0.8rem;
    --smaller-text: 0.64rem;
    --smallest-text: 0.512rem;
    --main-color: #c10828;
    --text-color: #0d0607;
    --secondary-color: #00b906;
    --third-color: #b9e937;
    --red-color: #b90000;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    background: rgb(13,6,7);
    background: linear-gradient(90deg, rgba(13,6,7,1) 0%, rgba(193,8,40,1) 50%, rgba(13,6,7,1) 100%);

}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: var(--h1-text);
  font-weight: 700;
  text-transform: uppercase;
}

h2 {font-size: var(--h2-text);}

h3 {font-size: var(--h3-text);}

h4 {font-size: var(--h4-text);}

h5 {font-size: var(--h5-text);}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 200,
    'opsz' 48
}

ul {list-style-type: none;}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header__logo {
    height: auto;
    width: 150px;
    margin: 25px;
}

.divider {
    position: relative;
    width: 250px;
    border-top: 1px solid white;
}

.header__title {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.header__title__text {
    text-transform: uppercase;
    font-weight: 900;
    font-size: var(--h1-text);
    font-family: 'Epilogue', sans-serif;
    text-align: center;
    width: 250px;
}

.header__stats-section {
    width: -webkit-fill-available;
    margin: 15px 25px 15px 25px;
}

.header__stats-section__list {
    margin-top: 15px;
}

.header__stats-section__list__item {
    display: flex;
}

.header__stats-section__list__item__logo {
    width: 50px;
    height: auto;
}

.participation {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.team-logo {
    width: 40px;
    height: auto;
}

.tabulator {
    border-color: #c5c5c5;
} 

.tabulator .tabulator-header,
.tabulator .tabulator-header .tabulator-col {
    border-color: #c5c5c5;
    color: #dfdfdf;
    background-color: #1d191a;
}

#stats-table .tabulator-cell {
    gap: 15px;
    padding: 0;
    color:#fff;
    font-weight: 500;
}

#stats-table .tabulator-cell > div {
    text-transform: uppercase;
}

#stats-table .tabulator-cell > img {
    width: auto;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

.tabulator-cell > img {
    width: auto;
    height: 100%;
}

/*Theme the Tabulator element*/
#pick-table {
    border: 1px solid #c5c5c5;
}

/*Theme the header*/
.tabulator-header {
    background-color:#1d191a;
    color:#fff;
}

/*Allow column header names to wrap lines*/
#pick-table .tabulator-header .tabulator-col,
#pick-table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}

/*Color the table rows base on player name*/
#pick-table .tabulator-table .tabulator-row.a-player {
    background-color: #ffffff;
}

#pick-table .tabulator-table .tabulator-row.another-player {
    background-color: #dbdbdb;
}

/* Color the border cells */
.tabulator-row .tabulator-cell {
    border-bottom: 1px solid #c5c5c5;
}

#stats-table .tabulator-row .tabulator-cell:last-of-type,
#stats-table .tabulator-header .tabulator-col:last-of-type {
    border-right: none;
}

#stats-table .tabulator-row:last-of-type .tabulator-cell {
    border-bottom: none;
}

.tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-right,
.tabulator .tabulator-header .tabulator-frozen.tabulator-frozen-right {
    border-left: 1px;
}

.grayscale-effect {
    filter: grayscale(100%);
  }
/* NHL TEAMS COLOR */
#stats-table .anaheim-ducks {
    background-color: #55472d;
}

.anaheim-ducks img, .anaheim-ducks {
    background-color: #b6985a;
}

#stats-table .arizona-coyotes {
    background-color: #390b18;
}

.arizona-coyote img, .arizona-coyotes {
    background-color: #7a0022;
}

#stats-table .boston-bruins {
    background-color: #b48518;
}

.boston-bruins img, .boston-bruins {
    background-color: #fdb91e;
}

#stats-table .buffalo-sabres {
    background-color: #0a1c40;
}

.buffalo-sabres img, .buffalo-sabres {
    background-color: #023089;
}

#stats-table .calgary-flames {
    background-color: #68111e;
}

.calgary-flames img, .calgary-flames {
    background-color: #e30a2b;
}

#stats-table .carolina-hurricanes {
    background-color: #8c2626;
}

.carolina-hurricanes img, .carolina-hurricanes {
    background-color: #c8102e;
}

#stats-table .chicago-blackhawks {
    background-color: #670e1c;
}

.chicago-blackhawks img, .chicago-blackhawks {
    background-color: #e30829;
}

#stats-table .colorado-avalanche {
    background-color: #2f1214;
}

.colorado-avalanche img, .colorado-avalanche {
    background-color: #6f263d;
}

#stats-table .columbus-blue-jackets {
    background-color: #091c32;
}

.columbus-blue-jackets img, .columbus-blue-jackets {
    background-color: #032d65;
}

#stats-table .dallas-stars {
    background-color: #174233;
}

.dallas-stars img, .dallas-stars {
    background-color: #00704a;
}

#stats-table .detroit-red-wings {
    background-color: #640c18;
}

.detroit-red-wings img, .detroit-red-wings {
    background-color: #e30524;
}

#stats-table .edmonton-oilers {
    background-color: #001131;
}

.edmonton-oilers img, .edmonton-oilers {
    background-color: #00205b;
}

#stats-table .florida-panthers {
    background-color: #920b21;
}

.florida-panthers img, .florida-panthers {
    background-color: #c8102e;
}

#stats-table .seattle-kraken {
    background-color: #0a101e;
}

.seattle-kraken img, .seattle-kraken {
    background-color: #000f32;
}

#stats-table .los-angeles-kings {
    background-color: #5b5b5d;
}

.los-angeles-kings img, .los-angeles-kings {
    background-color: #b1b6ba;
}

#stats-table .minnesota-wild {
    background-color: #002217;
}

.minnesota-wild img, .minnesota-wild {
    background-color: #025736;
}

#stats-table .montreal-canadiens {
    background-color: #570d1a;
}

.montreal-canadiens img, .montreal-canadiens {
    background-color: #c20828;
}

#stats-table .nashville-predators {
    background-color: #71541a;
}

.nashville-predators img, .nashville-predators {
    background-color: #fdb623;
}

#stats-table .new-jersey-devils {
    background-color: #640c18;
}

.new-jersey-devils img, .new-jersey-devils {
    background-color: #e10623;
}

#stats-table .new-york-islanders {
    background-color: #0b2643;
}

.new-york-islanders img, .new-york-islanders {
    background-color: #00478c;
}

#stats-table .new-york-rangers {
    background-color: #183859;
}

.new-york-rangers img, .new-york-rangers {
    background-color: #0056a8;
}

#stats-table .ottawa-senators {
    background-color: #650c19;
}

.ottawa-senators img, .ottawa-senators {
    background-color: #e30526;
}

#stats-table .philadelphia-flyers {
    background-color: #6f290b;
}

.philadelphia-flyers img, .philadelphia-flyers {
    background-color: #fc4c02;
}

#stats-table .pittsburgh-penguins {
    background-color: #1b1b1c;
}

.pittsburgh-penguins img, .pittsburgh-penguins {
    background-color: #0e0e0f;
}

#stats-table .san-jose-sharks {
    background-color: #0a363d;
}

.san-jose-sharks img, .san-jose-sharks {
    background-color: #006d80;
}

#stats-table .st-louis-blues {
    background-color: #181a39;
}

.st-louis-blues img, .st-louis-blues {
    background-color: #003087;
}

#stats-table .tampa-bay-lightning {
    background-color: #0c0e24;
}

.tampa-bay-lightning img, .tampa-bay-lightning {
    background-color: #00205b;
}

#stats-table .toronto-maple-leafs {
    background-color: #151722;
}

.toronto-maple-leafs img, .toronto-maple-leafs {
    background-color: #00205b;
}

#stats-table .vancouver-canucks {
    background-color: #091d2e;
}

.vancouver-canucks img, .vancouver-canucks {
    background-color: #012d53;
}

#stats-table .vegas-golden-knights {
    background-color: #53472d;
}

.vegas-golden-knights img, .vegas-golden-knights {
    background-color: #b7975c;
}

#stats-table .washington-capitals {
    background-color: #660d1b;
}

.washington-capitals img, .washington-capitals {
    background-color: #e30628;
}

#stats-table .winnipeg-jets {
    background-color: #091c32;
}

.winnipeg-jets img, .winnipeg-jets {
    background-color: #002e63;
}